.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.cenral__logo {
  margin-bottom: 65px;
}