.contacts {
    display: block;
    text-align: right;
    font-style: normal
  }
  
  .contacts__phone {
    display: block;
    font-size: 26px;
    line-height: 35px;
    font-weight: 400;
    color: #FFF;
    line-height: 27px;
  }
  
  .contacts__workhours {
    display: block;
    font-size: 13px;
    line-height: 1px;
    color: #FFF;
    line-height: 1;
  }
  
  .contacts__info {
    font-size: 11px;
    line-height: 1;
    margin-bottom: 6px;
  }
  
  .contacts__phone {
    font-size: 26px;
    line-height: 20px;
  }