.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__text {
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  margin-right: 2px;
}

.pagination__link {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  display: block;
  text-align: center;
  font-weight: bold;
}