.services-games__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 58px;
}

.services-games__item {
  display: flex;

}

.services-games__img {
  width: 40.4%;
  margin-right: 5%;
}

.services__content {
  padding-top: 10px;
}

.services__title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 28px;
}

.services__text {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 34px;
}

.services__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  padding: 18px 40px;
  cursor: pointer;
  text-transform: uppercase;
  color: #8F00FF;
  background-color: #fff;
  border: 1px solid #8F00FF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.services__btn:hover {
  background: #741BBA;
  color: #F2F2F2;
}

.services-games__item:not(:last-child) {
  margin-bottom: 43px;
}