.top-line {
  display: flex;
  min-height: 412px;
  padding-bottom: 23px;
}

.top-line__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}